/* CSS for fixed-fluid layout */
body {
	background-color:#EEEEEE;
}

.body-background{
	background-color:#EFEFEF;
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.30) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.30)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


	background-repeat:no-repeat;
	background-attachment:fixed;
}


.link:link { 
  color: #FFFFFF;
}
.link:visited { 
  color: #FFFFFF;
}
.link:hover { 
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.link:active { 
  color: #FFFFFF;
}

h3,hr {
	margin: 0px;
}



/* These deal with tiles */

.barText {
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	/*width: 225px;
	height: 225px;*/
	font-weight:bold;
	font-size:16px;
	top: -100px;
	position: relative;
	/*z-index:10;*/
	text-align: center;
	overflow:hidden;
	opacity:0;
}

.barImage{
	width: 150px;
	height: 150px;
	top: -1px;
	left: -1px
	position: relative;
	overflow:hidden;
	padding: 0px;
	margin: 0px;
	/*z-index:9;*/
	-webkit-transform:scale(1.01); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1.01); /*Mozilla scale version*/
	-o-transform:scale(1.01); /*Opera scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.5s; /*Mozilla duration version*/
	-o-transition-duration: 0.5s; /*Opera duration version*/
}

.imgHovered{
	-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.1); /*Mozilla scale version*/
	-o-transform:scale(1.1); /*Opera scale version*/
	box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
	-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
	-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
}

.barSquare {
	
    height: 150px;
    width: 150px;
    border-style:solid;
    border-width: 1px;
	border-color: #555555;
    /*border-color: #293e6a;*/
	/*border-radius:3px;*/
    /*border-color: #293e6a;*/
    background-color: #000000;
    float: left;
    margin:5px;
    padding:0px;
	box-shadow: 5px 5px 12px #888888;
	overflow:hidden;
	
}

.mainDiv{
	width: 1160px;
	margin-left:auto;
	margin-right:auto;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.fixed {
    width: 200px;  /* the fixed width required */
    float: left;
	margin: 8px;
	display: inline-block;
}


.fixed-right {
    width: 240px;  /* the fixed width required */
	float: left;
	margin: 8px;
	display: inline-block;
}

/*
.fixed + div {
     margin-left: 150px;   must match the fixed width in the .fixed class 
     overflow: hidden;
}
*/

.box {
	background-color: #FFFFFF;
	border:1px solid;
	border-color: #DDDDDD;
	/*border-radius:5px;*/
}

.barBox {
	margin: 5px 0px 5px;
	background-color: #FFFFFF;
	border:1px solid;
	border-color: #DDDDDD;
}

.barBoxContent {
	padding: 5px;
}

.fixed-wide {
	/*margin-left: 220px;*/
	width: 660px;  /* the fixed width required */
	float: left;
	margin: 8px;
	display: inline-block;
}


/* CSS to ensure sidebar and content arhttp://flip.hr/css/bootstrap.min.csse same height (optional) */


.fill { 
    min-height: 100%;
    position: relative;
}

.filler:after{
    background-color:inherit;
    bottom: 0;
    content: "";
    height: auto;
    min-height: 100%;
    left: 0;
    margin:inherit;
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.navbar-default {
	background-color: #000000;
	border-color: #808080;
}
.navbar-default .navbar-brand {
	color: #f7f7f7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #f7f7f7;
}
.navbar-default .navbar-nav > li > a {
	color: #f7f7f7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #808080;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #808080;
}
.navbar-default .navbar-toggle {background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	border-color: #808080;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #808080;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f7f7f7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	border-color: #f7f7f7;
}
.navbar-default .navbar-link {
	color: #f7f7f7;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #f7f7f7;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #808080;
	}
}
